language: python

git:
  depth: 3

branches:
  only:
    - master
    - /^(\d+\.\d+\.\d+)((a|b|rc|\.dev|\.post)(\d+))?$/

jobs:
  include:
    - stage: test
      name: "Python 3.5, Django 2.0, SQLite - Unit Test"
      python: 3.5
      env: EXAMPLE_ENGINE=sqlite3
      before_install: skip
      install: pip install django==2.0
      before_script: cd example && python manage.py migrate
      script: python manage.py test
    - name: "Python 3.6, Django 2.0, SQLite - Unit Test"
      python: 3.6
      env: EXAMPLE_ENGINE=sqlite3
      before_install: skip
      install: pip install django==2.0
      before_script: cd example && python manage.py migrate
      script: python manage.py test
    - stage: deploy
      name: "Generate Doc & Upload to GitHub Pages"
      python: 3.6
      env: EXAMPLE_ENGINE=sqlite3
      before_install: skip
      install:
        - pip install django==2.0
        - pip install sphinx
      before_script: skip
      script: cd docs && make html
      deploy:
        provider: pages
        skip-cleanup: true
        local-dir: docs/_build/html
        github-token: $GITHUB_TOKEN
        keep-history: true
        on:
          tags: true
    - name: "Build Dist & Upload to PyPi"
      python: 3.6
      env: EXAMPLE_ENGINE=sqlite3
      before_install: skip
      install: skip
      before_script: skip
      script: skip
      deploy:
        provider: pypi
        skip-cleanup: true
        user: perplexionist
        password: $PYPI_PASSWORD
        distributions: "sdist bdist_wheel"
        on:
          tags: true
