prune .github
prune docs
prune project
prune sample
prune tests

graft translations

exclude .flake8
exclude .travis.yml
exclude beautifier.py
exclude config.py
exclude create.py
exclude requirements_dev.txt

include config.json
include LICENSE
