table.field-list {
    border: 1px solid #a8c5ff;
}
table.field-list .field-name {
    padding: 5px 10px;
    background: #ccddff;
}
table.field-list .field-body {
    padding: 5px 10px;
}

pre {
    border: 1px solid #e6e6e6;
    padding: 10px 30px;
}
