table.field-list {
    border: 1px solid #a8c5ff;
}
table.field-list .field-name {
    padding: 5px 10px;
    background: #ccddff;
}
table.field-list .field-body {
    padding: 5px 10px;
}

pre {
    background: #272822;
    color: #f8f8f2;
    border: 1px solid #151613;
    border-radius: 5px;
    padding: 10px 30px;
}
